/* Contacto */
.mainC {
    display: grid;
    grid-template-columns: 1, 1fr;
    justify-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.fondoC1 {
    display: none;
}

.fondoC2 {
    width: 100%;
    padding-bottom: 15px;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 15px;
}

.mapa {
    @include size (100%, 350px);
    padding: 15px;
    border-radius: 40px;

    transition-duration: 1s;
}

.mapa:hover {
    filter: opacity(0.9);
    transform: scale(1.05);
  }

.contacto {
    background-color: #464869;
    width: 100%;
    padding: 10px;
}

.boldC {
    font-size: $medida+5;
    font-family: 'myriad', $fuente-primaria;
    color: $color-primario;
}

.boldC strong {
    font-size: $medida+10;
    font-family: 'candara', $fuente-primaria;
    color: $color-primario;
}


h3 {
    font-size: $medida+15;
    font-family: 'candara', $fuente-primaria;
    color: $color-primario;
    padding: 5px 30px 5px 5px;
}

.formulario {
    display: grid;
    grid-template-columns: 1, 1fr;
    width: 100%;
}

.formularioC {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.casilla {
    font-size: $medida+5;
    font-family: 'myriad', $fuente-primaria;
    background-color: #1C244D;
    color: $color-primario;
    margin: 5px;
    width: 90%;
}

.casilla2 {
    font-size: $medida+10;
    font-family: 'berlin', $fuente-primaria;
    background-color: #1C244D;
    color: $color-primario;
    border-radius: 5px;
}

  .casilla2:hover {
    filter: opacity(0.8);
    transform: scale(1.03);
  }

.mensaje {
    textarea {
        @include size (90%, 100px);
    }
}

.enlaces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.logoRed:hover {
    filter: opacity(0.8);
    transform: scale(1.10);
  }

.logoRed {
    width: 40%;
}


/* Media Queri */
@media (min-width:765px ) 
{   
.mainC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fondoC1 {
    display: flex;
    @include size (80%, 100%);
}

.fondoC2 {
    width: 80%;
    padding: 10px;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mapa {
    @include size (400px, 250px);
    border-radius: 30px;
}

.contactoZona2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #464869;
    width: 90%;
    padding: 10px;
    border-radius: 15px;
}

.formularioZ {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formularioC {
    @extend .formularioZ;
}

.logoRed {
    width: 35%;
}
}