  /* Fondo de página */ 
  .body {
    background-color: #fefefe;
}

.bodyIndex {
    background-image: url(../images/back.index.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}