/* Navbar */
nav {
    padding: 5px;
    background-color: #FFFFFF80;
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

nav {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        word-spacing: 15px;
    }
}

nav {
    ul {
        li {
            padding: 10px;
        } 
    }
}

.navbar-toggler-icon {
    background-color: #FFFFFF80;
}

.nav-link {
    font-family: 'berlin', $fuente-primaria;
    font-size: $medida+10;
    text-decoration: none;
    color: $color-primario;
}

.nav-link:hover {
    filter: opacity(0.9);
    color: #BAEFFF;
    transform: scale(1.2);
  }

.nav-link-c {
    @extend .nav-link;
    padding: 5px;
    background-color: #FFFFFF80;
}

.nav-link-c:hover {
    filter: opacity(0.9);
    color: #BAEFFF;
    transform: scale(1.2);
  }

.active {
    color: #000000;
    background-color: #FFFFFF80;
    padding: 5px;
}


    /* Media Queri */
    @media (min-width: 765px) 
        {   
     
        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
    
            height: 70px;
        } 
        

        nav {
            ul {
                flex-direction: row;
            }
        }
    
        nav {
            ul {
                li {
                    display: inline-block;
                    } 
            }
        }
    
        .menu {
            display: none;
        }

        .navbar-collapse {
            background-color: #00000099;
        }   
        
    } 